:root{
    --main-bg-color: yellow;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;

}
.blocGauche{
    width: 30%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    
    
}
.blocDroit{
    width: 65%;
    padding-left: 5%;
}
.blocGauche article, .blocGauche figure{
    width: 100%;
}
.blocDroit header{
    padding-top: 10%;
    padding-bottom: 8%;
}
.photo {
    border-radius: 50%; 
    margin-top: 20px;   
}
figure{
    display: flex;
    justify-content: center;
}

.blocGauche h3{
    text-align: center;
    color: var(--main-bg-color);
    background-color:rgb(51, 48, 48);
}
.blocDroit header h1 span{
    color:yellow;
}
.blocDroit header h2 span{
    text-decoration: underline var(--main-bg-color);
}
.formation{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.dateFR{
    min-width: 200px;
}
.ecole{
    max-width: 60%;
}
.formation .ecole p{
    padding-bottom: 5px;
}

.experience{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.dateEX{
    min-width: 200px;
}
.entreprise{
    max-width: 60%;
}
.experience .entreprise p{
    padding-bottom: 5px; 
}
.recommandation{
    width: 90%;
    padding-top: 40px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.aPropos{
    flex-grow: 1;
}
.contact p{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;    
}
.aPropos p{
    padding-left: 30px;
    padding-right: 30px;  
}
.blocGauche h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.blocDroit h3 i{
    padding-right: 30px;
}
.dateFR i, .dateEX i{
    padding-right: 5px;
}
.blocDroit h3 {
    padding-bottom: 10px;
}
.blocDroit h3{
    padding-top: 40px;
}
.i-xs{
    font-size: 12px;
}
.loisir div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.blocGauche i{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocDroit i{
    color: var(--main-bg-color);
}
.formation span{
    margin-left: 18px;
}
.experience span{
    margin-left: 18px;
}
hr{
    border-bottom: 1px solid var(--main-bg-color);
}
#invisibleTitle{
    display: none;
}
article header{
    width: 100%;
}
.blocDroit article{
    flex-wrap: wrap;
}
@media screen and ( max-width: 1100px) {
    main{
    width: 100%;
    }
    .blocGauche{
        width: 35%;
    }
    .blocDroit{
        width: 65%;
    }
}
@media screen and ( max-width: 740px) {
    .blocDroit header{
        padding-top: 5%;
        padding-bottom: 4%;
    }
    .formation{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .experience{
        padding-top: 20px;
        padding-bottom: 20px;    
    }
    .recommandation{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

     }
     .p1{
         padding-bottom: 10px;
     }
}
@media screen and ( max-width: 610px) {

    main{
        display: flex;
        flex-direction: column ;
    }
    .blocGauche{
        width: 100%;
        text-align: center;
    }
    .blocDroit{
        width: 100%;
        text-align: center;
        padding-left: 0;     
    }
    .blocDroit h3 i{
        padding-right: 5px;
    }
    .dateFR{
        padding-bottom: 5px;
    }
    .dateEX{
        padding-bottom: 5px;
    }
    .formation{
        display: flex;
        flex-direction: column;
    }
    .ecole{
        min-width: 100%;
    }
    .experience{
        display: flex;
        flex-direction: column;
    }
    .entreprise{
        min-width: 100%;
    }
    .recommandation{
        width: 100%;
    }

}
