*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;

}
.blocGauche{
    width: 30%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    
}
.blocDroit{
    width: 65%;
    padding-left: 5%;
}
.blocGauche article, .blocGauche figure{
    width: 100%;
}
.blocDroit header{
    padding-top: 10%;
    padding-bottom: 8%;
}
.photo {
    border-radius: 50%;    
}

.blocGauche h3{
    text-align: center;
    color: yellow;
    background-color:rgb(51, 48, 48);
}
.blocDroit header h1 span{
    color:yellow;
}
.blocDroit header h2 span{
    text-decoration: underline yellow;
}
.formation{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.dateFR{
    float: left;
    width: 30%;
}
.ecole{
    margin-left: 200px;
    text-align: left; 
}
.formation .ecole p{
    padding-bottom: 5px;
}

.experience{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.dateEX{
    float: left;
    width: 30%;
}
.entreprise{
    margin-left: 200px;
    text-align: left;
}
.experience .entreprise p{
    padding-bottom: 5px; 
}
.recommandation{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
}
.p1{
    float: left;
    width: 50%;
}
.aPropos{
    flex-grow: 1;
}
.contact p{
    padding-left: 30px;
    padding-bottom: 10px;    
}
.aPropos p{
    padding-left: 30px;
    padding-right: 30px;  
}
.blocGauche h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.blocGauche i{
    padding-left: 50px;
    padding-bottom: 20px;
}
.blocDroit h3 i{
    padding-right: 30px;
}
.dateFR i{
    padding-right: 5px;
}
.dateEX i{
    padding-right: 5px;
}
.blocDroit h3 {
    padding-bottom: 10px;
}
.blocDroit h3{
    padding-top: 40px;
}

